<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <div class="blog-post-area">
                    <h2 class="title text-center">Latest From our Blog</h2>
                    <div ng-if="!$ctrl.isReady">Loading data</div>
                    <div class="single-blog-post"
                         ng-if="$ctrl.isReady"
                         ng-repeat="blog in $ctrl.blogsList track by $index">
                        <h3 ng-bind="blog.title"></h3>
                        <div class="post-meta">
                            <ul>
                                <li><i class="fa fa-user"></i> {{blog.author}}</li>
                                <li><i class="fa fa-clock-o"></i> 1:33 pm</li>
                                <li><i class="fa fa-calendar"></i> DEC 5, 2013</li>
                            </ul>
                            <span>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                            </span>
                        </div>
                        <a href="">
                            <img src="images/blog/blog-one.jpg" alt="">
                        </a>
                        <p>{{blog.description}}</p>
                        <a  class="btn btn-primary" href="#!/blog/{{blog.id}}">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>